<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mwee.android.print">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.permission.BLUETOOTH"
        android:required="true" />
    <uses-feature
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />

    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.accessory" />

    <application>
        <receiver android:name=".printer.usbPriter.UsbConnector">
            <!--<intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <action android:name="com.mwee.android.printer.REQUEST_USB_PERMISSION" />

            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/devices" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/devices" />-->
        </receiver>
        <activity android:name=".PrintPermissionRequestActivity"
            android:theme="@style/Transparent"
            android:noHistory="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <action android:name="com.mwee.android.printer.REQUEST_USB_PERMISSION" />

            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/devices" />
        </activity>
    </application>
</manifest>
